RewriteEngine on

#Obligar https
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

Options All -Indexes
ErrorDocument 403 /sestue/paginas/error/403.php
ErrorDocument 404 /sestue/paginas/error/404.php